/*================Change Password================*/
form.changePasswordField table{
    margin-right: auto;
    border-spacing: 20px;
}
td.left, td.right{
    padding: 5px;
}
td.left{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
td.right{
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #3f3f3f;
    gap: 10px;
}
td.right img{
    width: 20px;
    height: auto;
    cursor: pointer;
    padding: 4px 8px 4px 4px;
}
td.right input{
    width: 100%;
    border: 0;
    outline: 0;
    height: 30px;
    padding-left: 7px;
}
td.right .showPass{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    font-style: italic;
}
.changePasswordButton{
    width: 40%;
    font-size: 15px;
    font-weight: bold;
    color: #FCC201;
    background-color: #3F3F3F;
    border: 0;
    cursor: pointer;
    padding: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}
.changePasswordButton:hover{
    background-color: #7A591B;
}
.validation{
    height: auto;
    margin-left: 160px;
    font-size: 12px;
    
}
#check0, #check1, #check2, #check3, #check4{
    display: none;
    position: relative;
    color: red;
}
#valid{
    display: none;
    position: relative;
    color: green;
    font-weight: bold;
    max-width: 500px;
}
#notValid{
    display: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: #FFE7E5;
    border: 3px solid #9F4952;
    color: #9F4952;
    margin-bottom: 10px;
    max-width: 500px;
}
#notValid1{
    display: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: #FFE7E5;
    border: 3px solid #9F4952;
    color: #9F4952;
    margin-bottom: 10px;
    max-width: 500px;
}
.successfullyChanged{
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: #e5ffed;
    border: 3px solid #499f5c;
    color: #499f5c;
    margin-bottom: 10px;
    max-width: 500px;
}
.notSuccessfullyChanged{
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: #FFE7E5;
    border: 3px solid #9F4952;
    color: #9F4952;
    max-width: 500px;
}
/*================End of Change Password================*/

.tablebox{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: -1px -1px 6px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: -1px -1px 6px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: -1px -1px 6px 0px rgba(0,0,0,0.33);
}
.changePasswordField{
    display: flex;
}