#notValid{
    display: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: #FFE7E5;
    border: 3px solid #9F4952;
    color: #9F4952;
}
#notValid1{
    display: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: #FFE7E5;
    border: 3px solid #9F4952;
    color: #9F4952;
}